
@{
    ViewData["Title"] = "_ImageCarousel";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/face_image.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <button type="button" class="btn btn-primary create_mosaic">
                    Create my Mosaic
                </button>
                <p>
                    Learn how to build ASP.NET apps that can run anywhere.
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/seagull_image.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <button type="button" class="btn btn-primary create_mosaic">
                    Create my Mosaic
                </button>
                <p>
                    There are powerful new features in Visual Studio for building modern web apps.
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/face_image_2.jpg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <button type="button" class="btn btn-primary create_mosaic">
                    Create my Mosaic
                </button>
                <p>
                    Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
<script>
    $(function () {

        var createMosaic = function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Create", "Home")',
                dataType: 'json',
                cache: false,
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Invalid request");
                },
                success: function (response) {
                    var id = response.project.id;
                    var link = '@Url.Action("ImportMaster", "Home", new { Id = "-1" })';
                    link = link.replace("-1", id);
                    window.location.href = link;

                }
            });
        }

        $(".create_mosaic").click(function () {
            createMosaic();
        });
    });
</script>

