
@{
    ViewData["Title"] = "_TileImage";
}

<html>
<body>
    <div class="media">
        <canvas id="canvas" width="600" height="600"></canvas>
        <script type="text/javascript" src="~/js/TileImage.js"></script>
    </div>
</body>
</html>

