
@{
    ViewData["Title"] = "_TileImage";
}

<html>
<body>
    <div class="media">
        <canvas id="canvas" width="540" height="960"></canvas>
        <script type="text/javascript" src="~/js/GridImage.js"></script>
    </div>
</body>
</html>

