@model Mosaic.WebUI.Models.GenerateMosaicModel

@{
    ViewData["Title"] = "Generate";
}

<div class="jumbotron">
    <h1 class="display-4">Generate Mosaic Image</h1>
    <hr class="my-4">
    <p>Select master file from local system directory to use in the creation of the mosaic image.</p>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="media">
                <img id="mosaic-image" class="mr-3" alt="Bootstrap Media Preview" src="~/images/face_image.jpg" width="100%"/>
            </div>
        </div>
        <div class="col-md-6">
            <h3>
                <span style="color:#d34615; font-size:2em;">@Model.TileImageCount</span>
                Tile images added
            </h3>
            <h3>
                <span style="color:#d34615; font-size:2em;">10.4%</span>
                match between colours found in master image and the colours found in tile images
            </h3>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button id="generate_mosaic" type="button" class="btn btn-success" style="background-color:#d34615">
                Generate
            </button>
            <ul>
                <li>Watch how to get the best result</li>
                <li>Add pictures with colors similar to the colors found in your big picture. All photos will be used at least once, and the ones that match the colors best will be used more often.</li>
                <li>Don't add the same photos multiple times. They will end up right next to each other.</li>
                <li>Check to make sure the square auto crop looks good. If not, click it to crop and rotate manually.</li>
            </ul>            
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
<script>

    $(function () {

        var generateMosaic = function (id) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GenerateMosaic", "Generate")',
                dataType: 'json',
                cache: false,
                data: { id: id },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Invalid request");
                },
                success: function (response) {
                    alert("Valid request");
                    debugger;
                    $('#mosaic-image').attr("src", response);
                }
            });
        }

        $("#generate_mosaic").click(function () {
            debugger;
            generateMosaic("@Model.ProjectId");
        });
    });

</script>
