
@{
    ViewData["Title"] = "Create";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h2>Create</h2>

<p>
    This is the start of the workflow that the user will create
    their mosaic image from.
</p>

