@model Mosaic.WebUI.Models.ProjectModel

@{
    ViewData["Title"] = "Home Page";
}
@Html.Partial("_ImageCarousel")
<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
    </div>
    <div class="col-md-3">
        <h2>How to</h2>

    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
    </div>
    <div class="col-md-3">
        <h2>Run &amp; Deploy</h2>
    </div>
</div>

<div class="card-deck">
    @for (int i = 0; i < length; i++)
    {

    }
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>

